
body {
    /* background-image: url(../img/fondo__.jpg);  */
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: map-get($map:$paleta, $key:'colorbody' );
    font-family: $mainFont;
}
h1 {
    color: $secondaryColor;
    font-size: 1rem;
    font-family: $secondaryFont;
    text-align: center;
}

h2 {
    color: $secondaryColor;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(167, 164, 164, 0.103);
    font-family: $secondaryFont;

}

h3 {
    color: $secondaryColor;
    font-size: 1rem;
    text-align: center;
    font-family: $secondaryFont;

}

h4 {
    color: $secondaryColor;
    font-size: 1rem;
    font-family: $secondaryFont;
}


.bg-nav{
    background-color: #faecdb;
}
.p-clas {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b10808;
}

.main-ajuste {
    padding: 30px;
    margin: 35px;
}

.m-20 {
    margin: 20px;
}

.img-logo-nav {
    width: 100px;
    height: auto;
    padding: 14px;
    border-radius: 100px
}

.imagenes-body {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.a-itemscenter {
    align-items: center;
}

.flex-reverse {
    @extend .display;
    flex-direction: row-reverse;
}

.p-20 {
    padding: 20px;
}

.gradient_ {
    background-image: linear-gradient(to top, #a10000, black);

    @include flex(normal, center, center, normal);
    color: white;
    border-radius: 4px;
    transition: all 2s;
    margin-top: 10px;
}

.gradient-nav {
    height: 20px;
    background-image: linear-gradient(to top, #a03737, rgb(199, 101, 101));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
    border-radius: 5px;
    transition: all 2s;
    padding: 20px;

}


.dis-aling{
   @extend .display;
    align-items: center;
    margin: auto;
    padding: 5px;
}

.btn-login {
    color: #770e0a;
    border-color: #02140c;
}

.colum-reverse {
   @extend .display;
    flex-direction: column-reverse;
}

.info {
    text-align: center;
}

.mapa {
    display: flex;
    justify-content: center;
}
.display {
    display: flex;
}
