// vars esquema de color
$mainColor: rgb(238, 188, 247);
$bodyColor: #fff0e1;
$secondaryColor: rgb(88, 0, 0);
$keyColor: deeppink;

$paleta: (
    'color1':#752242,
    'color2' :#9c3045,
    'color3' :#d74a4c,
    'color4' :#ff8361,
    'color5' :#ffca6b,
    'colorbody':#fff0e1,
);